.Graph {
  width: 100%;
}
.MonthIcon {
  img{
  width: 200%;
  height: 200%;
  }
}
.item ion-thumbnail {
	max-width: 3rem;
	max-height: 3rem;
}
.listicon {
	width: 32 px;
}
.listtext {
	font-size: 11px;
}
.titletext {
	font-size: 12px;
}
.pricetext {
	font-size: 30px;
	text-align: end;
	vertical-align: middle;
}